sysroot/sysroot_ubuntu_1604.tar.xz filter=lfs diff=lfs merge=lfs -text
qt/qt-everywhere-opensource-src-5.9.9.tar.xz filter=lfs diff=lfs merge=lfs -text
qt/qt-everywhere-src-5.15.2.tar.xz filter=lfs diff=lfs merge=lfs -text
sysroot/sysroot_ubuntu_1604_arm64v8.tar.xz filter=lfs diff=lfs merge=lfs -text
